.headerWrapper{
    border-bottom: 1px solid rgb(187, 187, 187);
    width:100%;
}
.sizeWrapper{
    width: 1000px;
    height:50px;
    margin:0 auto;
    padding:0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}
/* 
    헤더 왼편 
*/
.menuList {
    flex-basis:3;
    margin: 5 auto;
    text-align: center;
    width:700px;
}
.menuList .logo{
    float:left;
    margin: 10px auto 0 auto;
    padding:auto;
    width: 150px;
    height: 30px;
    background: url("../resources/img/header/logoNewOrange.png") no-repeat;
    background-size : contain;

    cursor: pointer;
}
.menuList .menuItem{
    margin: 15px auto 0 auto;  
    padding: 0 14px;  
    float:left;
    font-size:1rem;
    cursor: pointer;
}

/* 헤더 오른편 */

.subMenuList{
    flex-basis:1;
    display: flex;
    flex-direction: row;
}

.subMenuList .menuItem{
    margin :15px auto 0 auto;
    padding: 0 14px;
    cursor: pointer;
}
