:root {
    --section-height:700px;

}


.headerWrapper{
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid rgb(187, 187, 187);
    width:100%;
    background-color: #fbfbfb;
    color:#424242;
    font-family: "맑은고딕","Malgun Gothic",serif;

}
.sizeWrapper{
    width: 1080px;
    height:57px;
    margin:0 auto;
    padding:0;
    display: flex;
    flex-direction: row;
}

a:link { color: inherit; text-decoration: none;}
a:visited { color: inherit; text-decoration: none;}
a:hover { color: red; text-decoration: none; }

/* 
    헤더 왼편 
*/
.menuList {
    flex-grow:3;
    margin: 5 auto;
    text-align: center;
    width:700px;
    overflow: hidden;
}
.menuList .logo{
    float:left;
    margin: 13px 50px 0 16px;
    padding:auto;
    width: 136px;
    height: 34px;
    background: url("../resources/img/header/logoNewOrange.png") no-repeat;
    background-size : contain;

    cursor: pointer;
}
.menuList .menuItem{
    margin: 22px auto 0 auto;  
    padding: 0 10px;  
    float:left;

    font-size:1.03rem;
    font-weight: bold;
    text-decoration: none !important;
    color: #424242;
    cursor: pointer;
}

/* 헤더 오른편 */

.subMenuList{
    margin-right:50px;
    display: flex;
    flex-direction: row;
}

.subMenuList .menuItem{
    margin :22px auto 0 auto;
    padding: 0 14px;
    cursor: pointer;
    font-size: 12px;
}
