
.wrapper{
    margin:0;
    padding:0;
}

.bannerWrapper{
    width:100%;
    height:var(--section-height);
    /* background:url("../resources/img/main20/main_20_banner.jpg") no-repeat;
    background-size:cover;
    background-position: center;
     */
     background-color:#cccccc;
     
     display: flex;
     justify-content: center;
     align-items: center;
}
.bannerWrapper .boardTableWrapper{
    width:900px;
    margin:auto;
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.bannerWrapper .boardTableWrapper .tableItem{
    width:170px;
    height:170px;
    margin:2px;
    border-radius: 4px;
}
.bannerWrapper .boardTableWrapper .board{
    background-color:white;
    transition: z-index 0.3s, box-shadow 0.2s, transform 0.3s cubic-bezier(0.25, -0.06, 0.47, 1.1);
    z-index: 1;
}

.bannerWrapper .boardTableWrapper .board:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 70px 10px gray;
    transition:  box-shadow 0.3s, transform 0.3s cubic-bezier(0.25, -0.06, 0.47, 1.1);
    z-index: 2;
}

.bannerWrapper .boardTableWrapper .empty{
    background-color:rgba(0,0,0,0);
}

.bannerWrapper .boardTableWrapper .board.black{
    padding:30px 0px 0px 5px;
    background-color:rgba(0,0,0,0.4);    
    z-index: 0;
}
.bannerWrapper .boardTableWrapper .board.black:hover{
    box-shadow: 1px 1px 10px 3px gray;
    transform: none;
    transition: box-shadow 0.3s;
}

.bannerWrapper .boardTableWrapper .board.black .postList a {
    text-decoration: none;
    color:white;
    font-size:0.8rem;
}
.bannerWrapper .boardTableWrapper .orange{
    background-color:rgba(255, 123, 0, 0.352);
}
.bannerWrapper .boardTableWrapper .image{
    background:url("../resources/img/main20/blankIcon.png") no-repeat;
    background-size:cover;
}

.bannerWrapper .boardTableWrapper .tableItem.board .title{
    height:40%;
    margin:20px 20px 0 20px;
    
    display:flex;
    align-items: flex-end;

    border-bottom:1.5px solid gray;
} 

.bannerWrapper .boardTableWrapper .tableItem.board .title p{
    font-size:1.3rem;
    font-weight:bold;
    margin: 0px 0px 5px 10px;
}

.bannerWrapper .boardTableWrapper .tableItem.board .postList{
    font-size:0.7rem;
    margin:0 18px 20px 18px;
    padding: 5px;
    list-style: none;
}


.sectionWrapper{
    width:1000px;
    height:800px;
    margin:0 auto;
    padding:0;
    border:1px solid red;
}

.sectionWrapper .noticeWrapper{
    margin-top:70px;    
    height:300px;
}
.sectionWrapper .noticeWrapper .noticeTitle{
    text-align: center;
    margin-bottom: 50px;
}

.sectionWrapper .noticeWrapper .noticeTitle .title{
    display: inline-block;
    letter-spacing: -3px;
    font-weight: bold;
    color:gray;
}

.underline{    
    margin:25px 0 0;
    width:15px;
    height:1px;
    border-bottom:1px solid #aaaaaa;
}

.sectionWrapper .noticeWrapper .underline{
    margin: 3px auto;
    width:30px;
}

.sectionWrapper .noticeWrapper .contentSection{
    width:100%;
}

.sectionWrapper .noticeWrapper .contentSection .newsIcon{
    width:50px;
    height:20px;
    background:url("../resources/img/main20/blankIcon.png") no-repeat;
    background-size:cover;
    background-position: center;
}

.sectionWrapper .noticeWrapper .contentSection .underline{
    margin:25px 0 0;
    width:15px;
}

.sectionWrapper .noticeWrapper .contentSection .date{
    color:#aaaaaa;
}


.sectionWrapper .noticeWrapper .contentSection .more{
    color:#aaaaaa;
}

.sectionUnderline{
    margin:20px auto;
    width:100%;
    height:1px;
    border-bottom:1px solid #aaaaaa;
}











.newsWrapper .newsTitle{
    padding-left:5px;
    font-size:0.9rem;
    color:#777777;
}

.newsWrapper .lectureList{
    width:100%;
    display: flex;
}

.newsWrapper .lectureList .verticalBar{
    width:1px;
    height:230px;
    margin:25px 0;
    background-color:gray;
}

.newsWrapper .lectureList .lectureBox{
    /* 강의 박스 한개 */
    position: relative;
    margin: 25px;
    width:200px;
    height:230px;
    background-color:white;
    border-bottom:1px solid gray;
}

.newsWrapper .lectureList .lectureBox .lectureImage{
    /* 강의 박스 한개 */
    margin:0;
    padding:0;
    width:198px;
    height:120px;
    /* background:url("../resources/img/main20/blankIcon.png") no-repeat;
    background-size:contain; */
    background-color:yellow;
}


.newsWrapper .lectureList .lectureBox .lectureTitle{
    margin-top:5px;
    font-size: 1rem;
    color: #353535;
}

.newsWrapper .lectureList .lectureBox .lectureSubTitle{
    margin-top:5px;
    font-size: 0.8rem;
    color: #353535;
}

.newsWrapper .lectureList .lectureBox .lectureInfo{
    margin-top:5px;
    font-size:0.7rem;
    color : #bbbbbb;
}

.plusButton{
    margin:30px auto;
    text-align: center;
}
.plusButton button{
    width:30px;
    height:30px;
    background:url("../resources/img/main20/blankIcon.png") no-repeat;
    background-size:contain;
}