.wrap{
    margin:0;
    padding:0;
}
.wrapper{
    margin:0 ;
    padding:0;
    width:100%;
    height:100%;
}
.bg-black{
    background-color:black;
}
.bg-trans{
    background-color:transparent;
}
.bg-blue{
    background-color:#468a97;
    background:url("../resources/img/content/bg_content.png") no-repeat;
    background-size:100% 100%;
    background-position: center;
}
.banner{
    display: block;
    margin:0 auto;
    padding:0;
    max-width: 1250px;
    height:720px;
    background-color: black;
    object-fit: cover;
    object-position: center;
}
.wrapper__section{
    width:1000px;
    height:100%;
    margin:0 auto;
    padding:0;
}
.selector-list{
    margin:-175px 0 0;
    padding:0;
    display: flex;
    justify-content: space-between;
    background-color:transparent;
}
.selector-box{
    z-index: 1;
    width:310px;
    height:310px; 
    padding:0 40px;
    border-radius: 10px;
    text-align: center;
}
.selector-box--easy{
    background:#bfe1c0;
}
.selector-box--normal{
    background:#fdd059;
}
.selector-box--hard{
    background: #a1d7d7;
} 

.selector-box__icon{
    height:150px;
    width:150px;
    background:#edeee9;
    border-radius: 50%;
    margin: -75px auto 0;
    text-align: center;
    padding:23px;
}
.selector-box__icon>img{
    height:100px;
} 

.selector-box__title{
    color:#e0553e;
    font-size: 33px; 
    margin:23px 0 20px;
}
.selector-box__text{
    color:#000000;
    font-size:18px;
    font-weight: 700;
    margin:0;
}
.selector-box__button{
    background: #468a97;
    height:50px;
    width:150px; 
    margin-top:25px;
    border:none;
    border-radius: 5px;

    color:white;
    font-size: 23px;
    font-weight: bold;
}

.recommand-title{
    margin-top:-135px;
    padding:155px 0;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.title{
    font-size:4.0rem;
}
.title--highlight{
    margin-top: 60px;
    font-size:4.0rem;
    color:#dd5e3d;
    text-shadow: 0 2px #fecf59;
}
.recommand-title__text{
    color:white;
    font-size:1.45rem;
}



.flex{
    display: flex;
    justify-content: space-around;   
}

.recommand-content-margin{
    margin:60px 0 60px;
    padding-bottom: 150px;
}


.content-box{
    margin:0 auto;
    padding:0;
}
.content-box__img{
    width:245px;
    height:310px; 
    margin-bottom: 15px;
    background: url("../resources/img/content/content_orange.png") no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #edaa25;
    border-radius: 10px;
}
.content-box__img--blue{
    background: url("../resources/img/content/content_blue.png") no-repeat;

}
.content-box__profile{
    display: inline-block;
    height:55px;
    width:50px;
    background:url("../resources/img/content/profile_blue.png") no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 2px;
}

.content-box__info{
    flex-grow: 1;
    display: inline-block;
    margin-left: 10px;
}

.title--middle{
    margin: 5px 1px 0;
    padding-left:8px;
    color:#939391;
    font-weight: bold;
    font-size:1.4rem;
}
.star{
    height:30px;
    width:185px;
    background-size: contain;
    background-position: left;
}
.star1{
    background:url("../resources/img/content/star/star1.png") no-repeat;
}
.star2{
    background:url("../resources/img/content/star/star2.png") no-repeat;
}
.star3{
    background:url("../resources/img/content/star/star3.png") no-repeat;
}
.star4{
    background:url("../resources/img/content/star/star4.png") no-repeat;
}
.star5{
    background:url("../resources/img/content/star/star5.png") no-repeat;
}
.title-section{
    overflow: hidden;
    margin-bottom: 55px; 
}
.logo{
    background:url("../resources/img/logo.png") no-repeat;
    width:185px;
    height:45px;
    background-size:contain;
    float:left; 
}

.description{
    padding-left:15px;
    padding-top:12px;
    float:left;
    color:#a8bbc9;
    font-size:1.1rem;
    vertical-align: center;

    letter-spacing: -1px;
    word-spacing: 3px;
}



.searchBarWrapper{
    text-align: center;
    float:right;
}

.searchBarWrapper .inputArea{
    display:flex;

    width:430px;
    height:45px;
    margin: 0 auto;
    background-color:#b1deb6;

    justify-content: flex-start;
    align-items: center;
}
.searchBarWrapper .inputArea .searchBar{
    width: 360px;
    height: 45px;

    font-size:1.5rem;
    letter-spacing: -2px;
    word-spacing: 5px;
    color:#77afa4;
    border:none;
    padding-left:20px;
    background-color: transparent;
    /* box-shadow: 0 0 10px 1px rgba(1,1,1,0.2); */
}
.searchBarWrapper .inputArea .searchBar::placeholder{
    color:#77afa4;
    letter-spacing: -2px;
}
.searchBarWrapper .inputArea .searchBar:focus{
    outline:none;
}
.searchBarWrapper .inputArea .searchIcon{
    width: 40px;
    height:20px;
    margin: auto 0;
    padding-left:23px;
    border-left:0.1px solid white;
    background:url('../resources/img/tutor/searchIcon.png') no-repeat;
    background-position: center;
    background-size: contain;
}
.context-section{
    margin:0;
}
.navigation{
    height:40px;
    display: flex;

}
.navigation__item{
    flex-grow: 1;
    font-size: 1.5rem;
    padding-top:10px;
    text-align: center;
    font-weight: bold;
    background:#a0d7da;
    color:#6f878b; 
}
.navigation__item--selected{
    background:#468a97;
    color: #b8d7d9;
}
.box-list--beige{
    overflow: hidden;
    background:#edeee9;
    float:left; 
    margin-bottom: 90px; 
}
.box-list--beige>.content-box{
    float:left;
    padding-top: 60px;
    margin:0 45px 60px  40px;
}
