.wrap{
    margin:0;
    padding:0;
    letter-spacing: -2px;
    word-spacing: 4px;
    font-family:'noto_sans', 'Noto Sans', 'Noto Sans KR', sans-serif, "나눔고딕", 'Nanum Gothic', dotum,'돋움',gulim,'굴림', Tahoma;
}
.wrapper{
    margin:0 ;
    padding:0;
    width:100%;
    height:100%;
}
.bg-banner--opacity{
    background:url("../resources/img/content/banner_opacity.png") no-repeat;
    background-position: top;
    background-size:contain;
}

.wrapper__section{
    width:1000px;
    height:100%;
    margin:0 auto;
    padding:0;
}

.half-beige{
    background:linear-gradient(white 38%, #edeee9 38.3%);
}
.title{
    font-size:4.0rem;
}
.title--highlight{
    margin-top: 60px;
    font-size:4.0rem;
    color:#dd5e3d;
    text-shadow: 0 2px #fecf59;
}
.recommand-title__text{
    color:white;
    font-size:1.45rem;
}



.flex{
    display: flex;
    justify-content: space-around;   
}

.flex--content-detail-title{
    padding:140px 0 0 ;
}


.content-box__img{
    width:245px;
    height:310px; 
    margin-bottom: 15px;
    background: url("../resources/img/content/content_orange.png") no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #edaa25;
    background: #edaa25;
    border-radius: 10px;
}

.content-box__img--blue{
    background: url("../resources/img/content/content_blue.png") no-repeat;
}

.context{ 
    width:715px;
    padding-top:15px;
    padding-left:35px;
}
.title--big{
    font-size:4rem;
    color:#313131;
    font-weight: bold;
    margin:0;
    letter-spacing: -5px;
}

.title--middle{
    margin: 20px 1px;
    height:72px;
    color:#939391;
    line-height: 2.6rem;
    font-weight: bold;
    font-size:1.4rem;
}

.tag-list{
    margin-top: 20px;
    display: flex; 
    justify-content: flex-start;
}
.tag-button{ 
    height:35px;
    margin:0 20px 0 0;

    background:#edeee9;
    border:2px solid #dfdfdf;
    border-radius: 12px; 
    color:#a2b5bb;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 16px 0;
    letter-spacing: -1px;

}
.recommand-button{
    position: relative;
    height:43px;
    width:95px;
    margin-top:23px;
    padding: 12px 0 0 42px;
    background:#fdd059;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
}
.recommand-button::after{
    content:"★";
    position: absolute;
    top:8px;
    left:10px;

    font-size: 2.1rem;
}

.content-box__profile{
    display: inline-block;
    height:55px;
    width:50px;
    background:black;
}



.title-section{
    overflow: hidden;
    margin-bottom: 55px; 
}

.description{
    padding-left:15px;
    padding-top:12px;
    float:left;
    color:#a8bbc9;
    font-size:1.1rem;
    vertical-align: center;

    letter-spacing: -1px;
    word-spacing: 3px;
}




/* 컨텐츠 상세 내비게이션 바 */

.content-detail-section{
    margin:120px 0 0 0;
}
.navigation--overlap{
    display: flex;

}
.navigation--overlap__item{
    width:265px;
    height:65px;
    padding-top:25px;
    
    cursor: pointer;
    margin-right: -25px;
    border-radius: 10px 10px 0 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    background:#717171;
    color:#cdcdcd; 
}
.navigation--overlap__item--selected{
    background:#df5842;
    color: white ;
    z-index: 1;
}
.navigation--overlap__item:hover{
    color: white ;
}

.navigation--overlap__bottom{
    margin:0;
    padding:0;
    height:10px;
    background:#df5842;
}



/* 영상부 */

.content-play{
    width:100%;
    height:600px;
     
    background: url("../resources/img/content/play-button.png") no-repeat;
    background-color:black;  
    background-position: center;
    background-size: 100px;
    cursor: pointer;
    margin:0;
    padding: 0;
}


.content-info{
    height:185px; 
    margin-bottom: 90px;
    background:white;
    border:2px solid #dddddd;
    display: flex;
    
}
.content-info__profile{ 
    display: inline-block;
    height:100%;
    width:100px;
}
.content-info__profile div{
    height:70px;
    width:70px;
    background:url("../resources/img/content/profile_blue.png") no-repeat;
    background-size: 70px 70px;
    background-position: center;
    border-radius:70%; 
    margin:50px 15px;
}
.content-info__subject{
    color:#91918f;
    
    font-size:1.45rem;
    
    padding-top:25px;
    margin-bottom: 7px;
}
.content-info__subject::before{
    content:" ";
    display: inline-block;
    padding-right:30px;
    width:35px;
    height: 16px;
    background:url("../resources/img/content/arrow_hash.png") no-repeat;
    background-position: left;
    background-size: contain;
}
.content-info__title{
    color:#313131;
    font-size:2.5rem;
    font-family:"나눔고딕", 'Nanum Gothic', dotum,'돋움',gulim,'굴림', Tahoma;
    font-weight: 600;
    margin:7px 0;
}
.content-info__maker{
    margin-bottom: 30px;
    font-size:1.4rem;
    color:#62b1d8;
    letter-spacing: -1;
}
.content-info__maker::before{
    content:"from ";
    color:#717171;
}
.inline-block{
    display: inline-block;
    height:100%;
    width:890px;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
    position: relative;
    overflow: hidden;
    width:400px;
    height:180px;
}
.content-info__source-button{
        position: absolute;
        right:0;
        height:43px;
        width:95px;
        margin:30px 50px 50px;
        background:#df5845;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        color:white;
        
        text-align: center;
        padding-top:12px;
    
}
.content-info__etc{
    position: absolute;
    top:120px;
    right:0;
    margin:0 50px 0 0;

    
}
.icon{
    font-size:1.2rem;
    font-weight: bold;
    letter-spacing: 0;
    padding-left:10px;
    color: #919191;
}
.icon--eye::before{
    content: " ";
    display: inline-block;
    width:30px;
    height:14px;
    background:url("../resources/img/content/eye.png") no-repeat;
    background-size: contain;
    background-position:center;
}
.icon--star::before{
    content: " ";
    display: inline-block;
    width:30px;
    height:17px;
    background:url("../resources/img/content/star.png") no-repeat;
    background-size: contain;
    background-position:center;
}
.icon--message::before{
    content: " ";
    display: inline-block;
    width:30px;
    height:16px;
    background:url("../resources/img/content/message.png") no-repeat;
    background-size: contain;
    background-position:center;
}