.wrapper{
    margin: 0;
    
}



.bannerWrapper{
    margin: 0 auto;
    padding: 0;
    width:100%;
    height:850px;
    background:url("../resources/img/lecture/banner/banner.jpg") no-repeat;
    background-size:cover;
    background-position: center;
    background-color:#111111;
    display: flex;
}

/* .bannerWrapper:hover{
    background:url("../resources/img/lecture/section1/3.png") no-repeat;
} */

.bannerWrapper .left{
    float:left;
    width:50px;
    height:100%;
    margin-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bannerWrapper .right{
    width:50px;
    height:100%;
    margin-right:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bannerWrapper .left .button{
    background:url("../resources/img/lecture/banner/left-arrow.png") no-repeat;
    background-size:contain;
    height:30px;
    width:30px;
    cursor: pointer;
}

.bannerWrapper .right .button{
    background:url("../resources/img/lecture/banner/right-arrow.png") no-repeat;
    background-size:contain;
    height:30px;
    width:30px;
    cursor: pointer;
}


.bannerWrapper .content{
    float: left;
    width:1000px;
    height:700px;
    margin:120px auto 60px;
}

.bannerWrapper .content .topSection{
    height:300px;
    overflow: hidden;
}

.bannerWrapper .topSection .mainPhrase{
    float:left;
    width:29%;
    height:100%;
    font-size:5.5rem;
    color:white;
    font-weight: bold;
    line-height: 7rem;
    overflow: hidden;

    background:url("../resources/img/lecture/banner/top/phrase.png") no-repeat;
    background-size:contain;
    background-position: center;
}

.bannerWrapper .topSection .bgSelectorList{
    float:right;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    width:70%;
    height:100%;
}

.bgSelectorList .dotList{
    flex-grow: 3;
    margin-right:5px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.bgSelectorList .dotList li{
    float: left;
    width:6px;
    height:6px;
    margin: 10px auto;
    background:url("../resources/img/lecture/banner/top/dot.png") no-repeat;
    background-size:contain;
}

.bgSelectorList .dotList li.selected{
    width:17px;
    height:17px;
    background:url("../resources/img/lecture/banner/top/selectedDot.png") no-repeat;
    background-size:contain;
}



.bgSelectorList .imgList{
    flex-grow: 0.2;
    padding:0;
    margin: 0 0 0 0;
    list-style:none;
    overflow: hidden;
}

.bgSelectorList .imgList .imgListItem {
    float:left;
    font-size:0.5rem;
    cursor: pointer;
}

.bgSelectorList .imgList .imgListItem .image{
    background: black;
    margin:10px 3px 3px;
    width:80px;
    height:48px;
    vertical-align: middle;
}


.bannerWrapper .rowLine{
    width:103%;
    margin: 20px -12px;
    height:1px;
}

.imgListItem .image img{
    width:80px;
}
.imgListItem .image.selected img{
    width:80px;
    border:2px solid #dd6800;
    box-shadow: 0 0 5px 1px #dd6800;
}

.bgSelectorList .imgList .imgListItem p{
    margin: 10px auto 15px;
    font-size:0.65rem;
    color:#eeeeee;
    text-align: center;
}

.bannerWrapper .content .bottomSection{
    height:200px;
}

.bottomSection .title{
    color:white;
    font-weight: bold;
}

.bottomSection .levelSelectorList{
    margin:auto;
    padding:auto;
    display: flex;
    flex-direction:row;
}
.bottomSection .levelSelectorList .listItem{
    width:243px;
    height:243px;
    margin: 15px auto;
    padding:auto;
    color:white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.bottomSection .levelSelectorList .listItem:hover{
    color:orangered;
}


.bottomSection .levelSelectorList .listItem:nth-child(1){
    background:url("../resources/img/lecture/banner/bottom/easy.png") no-repeat;
    background-size:contain;
}
.bottomSection .levelSelectorList .listItem:nth-child(1).selected{
    background:url("../resources/img/lecture/banner/bottom/easy_hover.png") no-repeat;
    background-size:contain;
}


.bottomSection .levelSelectorList .listItem:nth-child(2){
    background:url("../resources/img/lecture/banner/bottom/normal.png") no-repeat;
    background-size:contain;
}
.bottomSection .levelSelectorList .listItem:nth-child(2).selected{
    background:url("../resources/img/lecture/banner/bottom/normal_hover.png") no-repeat;
    background-size:contain;
}


.bottomSection .levelSelectorList .listItem:nth-child(3){
    background:url("../resources/img/lecture/banner/bottom/hard.png") no-repeat;
    background-size:contain;
}
.bottomSection .levelSelectorList .listItem:nth-child(3).selected{
    background:url("../resources/img/lecture/banner/bottom/hard_hover.png") no-repeat;
    background-size:contain;
}


.bottomSection .levelSelectorList .listItem:nth-child(4){
    background:url("../resources/img/lecture/banner/bottom/leveltest.png") no-repeat;
    background-size:contain;
}

.bottomSection .levelSelectorList .listItem p{
    margin-left:40px;
    width:70%;
}
.bottomSection .levelSelectorList .listItem h3{
    margin-top: 70px;
    margin-left:40px;
    width:70%;
}
.bottomSection .levelSelectorList .listItem h3:last-child{
    margin-top: 20px;
    margin-left:40px;
    width:70%;
}
.levelSelectorList .listItem .rightTag{
    font-size:1.5rem;
    margin-left:10px;
    color:#dd6800;
}

.sectionTitle{
    margin-top:70px; 
    text-align: center;
    margin-bottom: 50px;
}

.sectionTitle .title{
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    color:gray;
}

.underline{    
    margin:10px auto 0;
    width:55px;
    height:1px;
    border-bottom:2px solid #dddddd;
}



.newsSection{
    margin:auto;
    width:940px;
}

.newsSection .newsIcon img{
    width:90px;
}
.newsSection .newsContext{
    margin-top:20px;
    font-size: 2rem;
    font-weight: bold;
    color:#666666;
}

 .underline.newsUnderline{
    margin:20px 5px 10px 0;
    width:20px;
}

.newsSection .newsTitle{
    font-size:0.9rem;
    color:#a0a0a0;
}

.rollingButtonList{
    display: flex;
    justify-content: flex-end;
}
.rollingButtonList .button{
    height:5px;
    width:40px;
    margin:50px 2px 20px;
    background-color:#666666;
}

.rollingButtonList .clicked{
    background-color:#dd6800;
}

.sectionUnderline{
    margin:15px auto;
    width:100%;
    height:1px;
    border-bottom:2px solid #dddddd;
}



.lectureWrapper{
    width:940px;
    margin:0 auto 150px auto;
    padding:0;
}

.lectureWrapper .recommandLectureTitle{
    font-size:1.2rem;
    color:#666666;
    font-weight: 500;
}
.lectureWrapper .titleSection{
    margin-top:100px;
}

.lectureWrapper .titleSection div.title{
    font-size:1.5rem;

}
.titleSection div.title .verticalBar{
    margin:0 10px 0 5px;
    float:left;
    width:5px;
    height:20px;
    background-color: #f15a21;
}
.titleSection .title a{
    color:#f15a21;
}

.lectureWrapper .titleSection div.gridButton{
    float:right;
}

.lectureWrapper .lectureList{
    width:100%;
    display: flex;
    flex-wrap : wrap;
    overflow: hidden;
}

.lectureWrapper .lectureList .lectureBox{
    /* 강의 박스 한개 */
    position: relative;
    margin: 24px 0px 5px;
    width: 200px;
    height:220px;
    background-color:white;
    border-bottom:2px solid #efefef91;
    cursor: pointer;
}
.lectureWrapper .lectureList .lectureBox:first-child{
    margin-left:0;
}

.lectureWrapper .lectureList .lectureBox:last-child{
    margin-right:0;
}
.lectureWrapper .lectureList .lectureBox .lectureImage{
    /* 강의 박스 한개 */
    width: 203px;
    height: 114px;
    margin:0;
    padding:0;
    width:100%;
}


.lectureWrapper .lectureList .lectureBox .lectureName{
    margin:5px;
    font-size: 1.1rem;
    font-weight:bold;
    color: #808080;
    line-height: 1.5rem;
}

.lectureWrapper .lectureList .lectureBox .lectureInfo{
    margin:5px;
    font-size:0.7rem;
    color : #bbbbbb;
}

.verticalBar{
    width:3px;
    height: 225px;
    margin:15px 0;
    background-color:#efefef91;
    margin-left: 20px;
    margin-right: 20px;
}

.plusButton{
    margin:70px auto;
    text-align: center;
    width:35px;
    height:35px;
    background:url("../resources/img/lecture/plusIcon.png") no-repeat;
    background-size:contain;
}


.register{
    margin: 0px;
    position: fixed;
    left: 90%;
    top: 80%;
    z-index: 100;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background: rgba(111, 111, 111, 0.7);
}


.rowLine{
    width:101%;
    height:1px;
    overflow: hidden;
    margin:0 -5px 0 -5px;
    background-color:white;
}

.mylecture{
    width: 100%;
    height: 130px;
    background-size: cover;
    background: url(../resources/img/mylecture/mylecture.jpg);
    margin-bottom: 10px;
}

.register:hover{
    color: #f15a21;
}