.headerMenu{
    cursor: pointer;
    margin-top: auto;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid rgb(187, 187, 187);
}
.bannerWrapper{
    margin-top: 50px;
    width:100%;
}
.banner1{
    margin: 0 auto;
    width:70%;
    height: 100px;
    background: url("../resources/img/banner1.png") no-repeat;
    background-size: cover;
}
.bannerWrapper2{
    width: 100%;
    text-align: center;
}
.banner{
    width:70%;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin{
    margin-top: 10px;
}

.rb{
    margin: 0 auto !important;
    width: 70%;
}