@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.navWrapper{
    width:100%;
    height:46px;
    border-bottom: 1px solid  #eee;
}
.nav{
    font-family: "Malgun Gothic","Hiragino Sans GB","Microsoft Yahei","Apple Gothic","Apple SD Gothic Neo",Sans-serif;
    letter-spacing: -1px;
    font-size: 15px;
    color:#333;
    display: flex;
    width:1000px;
    height: 46px;
    text-align: center;
    margin: 0 auto;
}
.headerMenu{
    
    cursor: pointer;
    margin-top: auto;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid rgb(187, 187, 187);
}


.menuIcon{
    cursor: pointer;
    width:44px;
    height: 46px;
    margin-right: 14px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-left: 0px;
    background : url("../resources/img/menu_icon.png") no-repeat center 50%;
}

.menu{
    cursor: pointer;
    margin:auto;
    text-align: center;
}
.menuRoom{
    width:128px;
    margin-right:0px;
    height: 46px;
    padding: 0;
    
}
.menuRoom a{
    cursor: pointer;
    display: block;
    margin-top:2px;
    width: 128px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e5b604;
    background: #ffcb05;
}

.contentWrapper1{
    max-width: 1919px;
    width: 100%;
    margin:auto;
}

.contentWrapper2{
    width: 1000px;
    margin : auto;
}

.section1{
    margin-top: 40px;
    width: 100%;
    height:100%;
}

.bannerWrapper{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;
}
.banner1{
    margin: 0 auto;
    width:100%;
    height: 110px;
    background: url("../resources/img/main_banner1.png") no-repeat;
    background-size: cover;
}

.banner2{
    width:100%;
    height:380px;
    background: url("../resources/img/main_banner2.png") no-repeat;
    background-size:cover;
}

.lectureString{
    font-family: 'noto_sans', sans-serif;
    font-size:24px;
    text-align: center;
}

.lectureList{
    width:100%;
    height:500px;
    list-style: none;
}

.lecture1{
    float: left;
    margin : 0 0 11px 12px;
    width: 170px;
    height: 207px;
    background: url("../resources/img/lecture1.png") no-repeat;
    background-size: cover;
}
.lecture2{
    float: left;
    margin : 0 0 11px 12px;
    width: 170px;
    height: 207px;
    background: url("../resources/img/lecture2.png") no-repeat;
    background-size: cover;
}
.lecture3{
    float: left;
    margin : 0 0 11px 12px;
    width: 170px;
    height: 207px;
    background: url("../resources/img/lecture3.png") no-repeat;
    background-size: cover;
}

.margin{
    margin-top: 10px;
}
.margin2{
    margin-top: 100px;
}

.reviewBanner{
    margin: auto;
    width: 100%;
    height: 550px;
    background: url("../resources/img/main_body_fourth.png") no-repeat;
    background-size: cover;
}

.teacherList{
    margin: auto;
    width: 100%;
    height:300px;
    background: url("../resources/img/main_body_fifth.png") no-repeat;
    background-size: cover;
}

.footer{
    margin:auto;

    margin-top:100px;
    width:1080px;
}

.footerImage{
    margin: auto;
    width: 100%;
    height:200px;
    background: url("../resources/img/main_body_sixth.png") no-repeat;
    background-size: cover; 
}

