.wrapper {
    margin:0;
    padding:0;
    letter-spacing: -1px;
    word-spacing: 2px;
}
 
.banner-wrapper{
    color:white;
    height:160px;
    background:url("../resources/img/community/communityBanner.jpg") no-repeat;
    background-position: center;
    background-size:cover;
}
.banner-wrapper__section{
    width:1000px;
    margin:auto;
}
.banner{
    padding:30px 0 0 ;
}
.banner__title{
    font-size:3.5rem;
}
.banner__description{
    font-size:1.4rem;
}

.nav{
    margin:auto;
    width:1000px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#666666;
    border-bottom:1.5px solid #dddddd;
}

.nav__menu{
    height:100%;
    display:flex;
    align-items: center;
}

.nav__menu::after{
    content:"·";
    margin:0 12px;
}
.nav__menu:last-child::after{
    content:"";
    margin: 0;
}
.nav__menu>a{
    height:100%;
    line-height: 60px;
    font-weight: bold;
}
.nav__menu>a:hover{
    color:#f96e29;
    border-bottom: 1px solid #f96e29;
}
.nav__menu--selected>a{
    color:#f96e29;
    border-bottom: 1px solid #f96e29;
}

.content-wrapper__section{
    width:1000px;
    margin:0 auto;
}
.lecture-list{
    width:100%;
}
.lecture-list__title-section{
    display: flex;
    align-items: center;
    margin-top:30px;
    padding: 10px 0;

}
.title{
    color:#666666; 
    margin-left:15px;
    font-size:1.3rem;
    font-weight: bold;
}
.more{
    color:#aaaaaa;
    margin-left:15px;
    font-size:1.1rem;
}

.more::after{
    margin-left:5px;
    content:"＋";
    font-size:1.4rem;
    color:#f96e29;
    font-weight: bold;
}
.lecture-list__list-section{
    overflow: hidden;
    margin-bottom: 35px;
}
.lecture-list__list-section>img{
    float:left;
    margin:0 5px;
    width:190px; 
}






/* 수강중인 강의 리스트 */


.content-wrapper--gray{
    background:#f5f5f5;
}
.phrase{
    color:#666666;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding:45px 0 20px 0;
}
.phrase>span{
    color:#f96e29;
}
.study-box{
    position: relative;
    width:250px;
    height:250px; 
    
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px rgba(240, 240, 240, 1);
    background:white;
    padding:0 20px;
    
}
.study-box__fav--active{ 
    width: 1px;
    height:1px;
    box-shadow: 
/*     -10px 8px 1px -px rgba(0, 0, 0, 1),
    10px 8px 1px -10px rgba(0, 0, 0, 1),
    8px -7px 1px -6px rgba(0, 0, 0, 1), */
    0px 5px 0px 0px rgb(255,255,255),
    0px 0px 3px 0px rgba(0, 0, 0, 0.5);

    border-width: 40px 15px 10px;
    border-style: solid;
    border-color : #f47224 #f47224 transparent;
}
.study-box__fav--active::before{
    content:"★";
    position: absolute;
    top:23px;
    left:35px;
    transform: translate(-50%, -50%);

    font-size:1.7rem;
    color:white;
}


.study-box__counter{
    height: 50px;
    width: 50px;  
}
.study-box__study-button{
    height:23px;
    width:65px;
    font-size:0.8rem;
    background:white;
    border:1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(200,200,200, 0.3);
}

.study-box__title{
    border-bottom:1px solid #dddddd;
    margin-top: 20px;


    height:55px; 
    padding: 0 3px;
    color:#666666;
    font-size:1.3rem;
    font-weight: bold;
}



.study-box__date::before{
    display: inline-block;
    content: "";
    width:17px;
    height:17px;
    background: url('../resources/img/mylecture/calendar.png') no-repeat;
    background-size:contain;
    background-position: center;
    margin: 0 5px;
}
.study-box__date{
    display: block;
    margin:17px 0px;
}
.study-box__date>p{
    display: inline;
    font-size:1.15rem;
    color:#666666;
    
}