.wrapper{
    margin: 0 auto;
    height: 100%;
    width: 1080px;
    position:relative;
    z-index: 1;
}

.lectureBox{
    margin-top: 50px;
    margin-bottom: 50px;
}

.despBox::placeholder {
    color: rgba(191,191,191,.87);
  }

.lectureRegTitle{
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
}

.lectureReginfo{
    font-size: 20px;
    padding: 10px;
}

.lectureReginfoImgWrapper{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: solid 1px gray;
    margin: 0 auto;
}

.lectureLeft{
    float: left;
    padding: 10px;
}

.lectureRight{
    float: right;
    width: 800px;
    padding-left:80px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-left: 3px #fdd059 solid;
}

.lectureReginfoImgSelect{
    cursor: pointer;
    width: 200px;
    margin: 20px auto;
}

.input-box{
    height:65px;
    display: flex;
}
.input-box__title{
    flex-basis: 113px;
    font-weight:bold;
    padding-left:15px;
    padding-top:21px;

    display:inline-block;
    height:100%;
    border:0.5px solid #eeeeee;
    letter-spacing: -1px;
    word-spacing: 1px;
}

.input-box__input{
    padding-left:20px;
    flex-grow: 1;
    border:1px solid #eeeeee;
}
.input-box__input::placeholder{
    font-size:0.9rem;
    color:#bbbbbb;
}
.input-box_area{
    height:200px;
    display: flex;
    margin-top: 10px;
}

.input-box__input_area{
    padding-left:20px;
    flex-grow: 1;
    border:1px solid #eeeeee;
    height: 200px;
    border: 1px solid rgba(34,36,38,.15);
    padding: .67857143em 1em;
    border-radius: .28571429rem;
    color:rgba(0,0,0,.87);
    resize: none;
}

.input-box__input_area::placeholder{
    font-size:0.9rem;
    color:#bbbbbb;
}

.input-box_date{
    height:40px;
    display: flex;
    margin-top: 10px;
}
.input-box__title_date{
    flex-basis: 113px;
    font-weight:bold;
    padding-left:15px;
    padding-top:10px;

    display:inline-block;
    height:100%;
    border:0.5px solid #eeeeee;
    letter-spacing: -1px;
    word-spacing: 1px;
}

.input-box_date div input {
    padding-left:20px;
    flex-grow: 1;
    height: 40px;
    width: 110px !important;
    border:1px solid #eeeeee;
}

.input-box_date div input::placeholder {
    font-size:0.9rem;
    color:#bbbbbb;
}

.dateSplit{
    font-size: 20px;
    padding: 10px;
}
.submit{
    margin-top: 10px;
    margin-bottom: 30px;
}

.lectureReginfoImg{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 0 auto;
}