.container{
    font-family: "Nanum Gothic", sans-serif;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

.header{
    width:100%;
    height: 50px;
    border-bottom: 1px solid #e6e5e7;
    box-shadow: 1px 1px 5px  #888888;
    font-size:17px;
    font-weight: bold;

    text-align: center;
    vertical-align: baseline;
}

.header .logo{
    width: 100px;
    height: 50px;
    background:url("../resources/img/logo.png") no-repeat;
    background-size:contain;
    margin-left:80px;
    float: left;
}

.header div.onAir{
    width:80px;
    height:25px;
    margin:0 auto;
    padding: 1px 2px 0 1px;
    border:1px solid #969496;
    border-radius: 15px;
    margin:15px 0 0 20px;
    float: left;
}

.onAir p {
    display: inline-block;
    font-size: 11px;
    cursor: default;
}

.ico_grayDot{
    width: 10px; 
    height: 10px; 
    opacity: 0.973043; 
    margin: 7px -10px 0px 15px;
    float: left;
    background:gray;
    border-radius:100%;

}

.ico_redDot{
    width: 10px; 
    height: 10px; 
    opacity: 0.973043; 
    margin: 7px -10px 0px 15px;
    float: left;
    background:#f33;
    border-radius:100%;

}
.header .middleText{
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
}

.header .toggleText{
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
}

.header div.offAir{
    width:80px;
    height:25px;
    margin:10px 0 0 20px;
}


.header div.exit{
    width:100px;
    padding:3px 0 7px 0; 
    margin:0 auto;
    border:1px solid #969496;
    border-radius: 15px;
    margin:10px 20px 0 5px;
    vertical-align:middle;
    box-shadow: 0.5px 0.5px 1px gray;
    float:right;
}
.header div .icon_exit{
    width: 15px;
    height: 15px;
    margin: 5px -15px 0px 25px;
    float:left;
    background:url("../resources/img/room/icon_exit.png") no-repeat;
    background-size:contain;
}

.header div.survey, .header div.ide{
    width:100px;
    padding:3px 0 7px 0; 
    margin:0 auto;
    border:1px solid #969496;
    border-radius: 15px;
    margin:10px 20px 0 5px;
    vertical-align:middle;
    box-shadow: 0.5px 0.5px 1px gray;
    float:right;

}

.header div .icon_survey{
    width: 15px;
    height: 15px;
    margin: 5px -12px 0px 20px;
    float:left;
    background:url("../resources/img/room/icon_survey.png") no-repeat;
    background-size:contain;
}



.mainWrapper{
    height: 100%;
    margin:2px 0px;
    width:100%;
}

.roomWrapper{
    float: left;
    width: 75%;
    height: 100%;
}

.roomMain, .webIde{
    width: 100%;
    height: 100%;
    margin: 2px 0 0px 0; 
}
.webIde{
    display: none;
}
.sideView{
    float: left;
    margin: 0; 
    width: 25%;
    height:100%;
    border-bottom: none;    
}

.sideTop{
    display: flex;
    flex-direction: column;
    width:100%;
    height:70%;
    border: 1px solid #969496;
    background-color:#faf9fa;
}

.sideBottom{
    width:100%;
    height:30%;
}

.progress, .problem{
    font-size: 14px;
    border-bottom: 0;
    box-shadow: 0;
    display: none;
    height: inherit;
    flex-direction: column;
}
.problemTitle{
    font-size: 20px;
    font-weight: bold;
    padding: 10px; 
    text-align: center;
    border-bottom: 1px solid black;  
}
.problemContent{
    word-break:normal;
    height: inherit;
    padding-bottom: 40px;
}
.problemContent pre{
    margin: 0px;
    height: inherit;
}
.problemContent pre code{
    height: inherit;
}

.nav{
    background: #faf9fa;
    color:#454545;
}

.sideButton1, .sideButton2{
    float: left;
    width:50%;
    height:40px;
    cursor: pointer;
    transition-duration: 1s;
    margin:0;
    text-align: center;
    line-height: 2.7;
    border-bottom: 1px solid #eaeaea;
    box-shadow: -0.5px -0.5px 5px  #888888 inset;
}

.isselected{
    border-bottom: none;
    box-shadow: 0px 0px 0px  #888888 inset;
    display: block;
}

.cam, .setting{
    padding: 10px;
    cursor: pointer;
    transition-duration: 1s;
    margin:auto;
    
}
.start{
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
    color:white;
    background: #3d4045;
}
.cam:hover, .setting:hover{
    background: white;
    font-size: 15px;
    transition-duration: 1s;
}
.viewContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.camScreen{
    width:100%;
    height: 100%;
    border-left: 1px solid #969496;
}

.problemPrev{
    float: left;
    cursor: pointer;
    display: none;
}
.problemNext{
    float: right;
    cursor: pointer;
}