.mainWrapper{
    display: flex;
    flex-direction: row;
    height: 80%;
    max-height: 80%;
}

.roomWrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.roomMain{
    width: 98%;
    height: 96%;
    margin: 15px; 
    border: 1px solid black;
}

.start{
    width: 150px;
    padding: 5px;
    margin: 10px;

}
.sideView{
    margin: 15px; 
    width: 20%;
    border: 1px solid black;
}