@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700');

.wrapper{
    margin:0;
    padding:0;
}

.bannerWrapper{
    width:100%;
    height:700px;
}
.bannerWrapper .bannerTop{
    margin:0;
    padding:0;
    width:100%;
    height:350px;
    background:url("../resources/img/tutor/tutorBanner.jpg") no-repeat;
    background-size:cover;
    background-position: center;
    background-color: orange;
    position: relative;

}

.bannerWrapper .bannerTop .bannerPhrase{
    position: absolute;
    bottom:0;
    right:0;
    margin: 0 150px -250px 0;
    writing-mode: vertical-lr;
    font-family: 'Gothic A1', sans-serif;
    font-size:5.5rem;
    letter-spacing: 4px;
    line-height: 9.5rem;
    color:#c0c0c0;
    font-weight: normal;
}
.bannerWrapper .bannerTop .bannerPhrase span{
    display: inline;
    color:white;
}
.bannerWrapper .bannerBottom{
    margin:0;
    padding:0;
    width:100%;
    height:50%;
    position: relative;

    box-shadow: 2px 5px 80px rgba(0.2,0.2,0.2,0.5);
}

.bannerWrapper .bannerBottom .introducePhrase{
    position: absolute;
    margin: 180px 0px 0 250px;
    font-family: 'Gothic A1', sans-serif;
    font-weight:bold;
    letter-spacing: -2px;
    word-spacing: 1px;
    font-size:1.7rem;
    line-height: 3.0rem;
    color:#393b48;
}

.bannerWrapper .bannerBottom .dotImage{
    width: 340px;
    height:340px;

    position: absolute;
    bottom: 0;
    margin: 0px 0px -67px 20px;

    border-radius:300px;
    background:url("../resources/img/tutor/imageDot.png") no-repeat;
    opacity: 0.9;
    background-size:cover;
    background-position: center; 
    z-index: -1;
}



.tutorListWrapper{
    margin:20px auto;
    padding:0;
    width:1000px;
    font-weight: bold;
    font-size:1.5rem;
}

.tutorListWrapper .titleSection{
    display: flex;
    height:50px;
}

.tutorListWrapper .titleSection div{
    margin:0 0 0 20px;
    height:30px;
}

.tutorListWrapper .titleSection div a{
    color:black;
    padding:0 7px;
    line-height:30px;
}
.tutorListWrapper .titleSection div.selected{
    background-color:#333333;
    border-radius: 5px;
}
.tutorListWrapper .titleSection div.selected a{
    color:white;
}

.tutorListWrapper .tutorList{
    width:100%;
    height: 100%;
    display:flex;
    flex-wrap:wrap;
}
.tutorListWrapper .tutorList .tutor{
    width:150px;
    height:170px;
    margin:5px auto;
    border:1px solid red;
}


.searchBarWrapper{
    height:200px;
    width:100%;
    background-color: #dddddd;
    text-align: center;

}

.searchBarWrapper .searchBar{
    width: 350px;
    height: 30px;
    margin: 20px auto;
    border-radius: 5px;
}

